---
const pageTitle = "About Me";

---
<html lang="en">
  <head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>{pageTitle}</h1>
    <h2>Digital Enthusiast</h2>

    <p>Please see my list of skills and accomplishments</p>

    <p>Here are some pictures that I like!</p>
  </body>
</html>
